/*
 * Fixes for iOS
 * Ref: https://fomantic-ui.com/modules/sidebar.html#ios-sidebars
 */
html.ios {
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
	height: initial !important;
}

/*
 * Fixes for all platforms
 */
html {
	overflow-x: hidden;
}
html,
html body {
	height: initial !important;
}

/*
 * Make sure footer is at bottom
 * Ref: https://materializecss.com/footer.html
 * Section: Sticky Footer
 */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
}

/*
 * Fixes for the "pusher"
 * Required when there is almost no content to display
 */
.pusher {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh !important;
}

/***********************************************
 * Element to implement in the framework later *
 ***********************************************/
.ui.vertical.divider.uncut:before {
    top: -100%;
}
.ui.vertical.divider.uncut:after, .ui.vertical.divider.uncut:before {
    position: absolute;
    left: 50%;
    content: '';
    z-index: 3;
    border-left: 1px solid rgba(34,36,38,.15);
    border-right: 1px solid rgba(255,255,255,.1);
    width: 0;
    height: 100%;
}

/**********************
 * Custom links style *
 **********************/
a.styled {
    display: inline-block;
    position: relative;
    overflow: hidden;
    vertical-align: top;
    z-index: 0;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    outline: none;
	cursor: pointer;
}
a.styled::before {
    position: absolute;
    top: auto;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #4183C4;
    content: '';
    -webkit-transition: all 0.2s;
    -webkit-backface-visibility: hidden;
    transition: all 0.2s;
    backface-visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}
a.styled:hover::before {
    background-color: #2C76BF;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/**********************
 * Generic site style *
 **********************/
main .ui.cards {
	margin-top: 1em;
}

.hidden.menu {
	display: none;
}

.hide {
	display: none !important;
}

.scrolling-table {
	max-height: 500px;
	overflow-y: scroll;
}
.ui.table.sticky-headed thead tr:first-child > th {
	position: sticky !important;
	top: 0;
	z-index: 2;
}
.ui.table.sticky-headed > thead > tr:first-child > th:first-child {
	border-radius: unset;
}
.ui.table.sticky-headed > thead > tr:first-child > th:last-child{
	border-radius: unset;
}
.ui.table.sticky-headed.inverted .darken {
	/* background-color: rgba(0, 0, 0, 0.65) !important; */
	background-color: #333333 !important;
}
/* .ui.table.sticky-headed.inverted .darken:hover {
	background-color: rgba(0, 0, 0, 0.85) !important;
} */
.ui.table.sticky-headed:not(.inverted) .darken {
	border-top: 1px solid rgba(34, 36, 38, 0.1);
}

.secondary.menu .header.large.screen.only {
	display: block;
}

.secondary.menu .header.mobile.only {
	display: none !important;
}

.secondary.menu .header.mobile.only {
	transform: translateX(-20px);
}

.footer.segment {
	padding: 5em 0em;
}

.secondary.menu .toc.item {
	display: none;
}

/* It's slow down the whole UI... */
/* .ui.segment, .ui.menu, .ui.table {
	transition: background-color .8s, color .8s;
} */

/*
 * Media queries -- Medium screens
 */
@media only screen and (max-width: 900px) {
	/* body.pushable {
		background: #FFFFFF;
	} */
	/* body.pushable body.pusher.dimmed {
		background: #545454;
	} */
	/* .ui.fixed.menu {
		display: none !important;
	} */
	.secondary.menu .right.menu {
		display: none !important;
	}
	.secondary.menu .toc.item {
		display: block;
	}
	.secondary.menu .header.large.screen.only {
		display: none !important;
	}
	.secondary.menu .header.mobile.only {
		display: block !important;
	}

	.charts.large.screen.only {
		display: none !important;
	}
	.charts.mobile.only {
		display: block !important;
	}
}

/*
 * Media queries -- Small screens
 */
@media only screen and (max-width: 700px) {
	/* body.pushable {
		background: #FFFFFF;
	} */
	/* body.pushable body.pusher.dimmed {
		background: #545454;
	} */
	/* .ui.fixed.menu {
		display: none !important;
	} */
	.secondary.menu .right.menu {
		display: none !important;
	}
	.secondary.menu .toc.item {
		display: block;
	}
	.secondary.menu .header.large.screen.only {
		display: none !important;
	}
	.secondary.menu .header.mobile.only {
		display: block !important;
	}

	.charts.large.screen.only {
		display: none !important;
	}
	.charts.mobile.only {
		display: block !important;
	}
}
