
/*------------------------------
* Local fonts import / declaration
* ------------------------------
*/

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/MR/Merriweather/Merriweather-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gentium';
    src: url('../fonts/MR/Gentium_Basic/GentiumBasic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gentium Book';
    src: url('../fonts/MR/Gentium_Book_Basic/GentiumBookBasic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gentium Plus';
    src: url('../fonts/MR/Gentium_Plus/GentiumPlus-R.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans Coptic';
    src: url('../fonts/MR/Coptic/NotoSansCoptic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bokareis';
    src: url('../fonts/MR/Bokareis/Bokareis-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}