/* 
These styles are common to most of the HTML exported from INTF site.
This file is a factorization effort. It also makes it possible to "validate" the refactored HTMLs in Oxygen, 
i.e. without the CSS which does not pass validation.
Whenever further specific style should be supported, they could simply be put in the HEAD of the corresponding HTML files. 
 */
@font-face {
    font-family: 'AntinoouWeb';
    src: url('/community/fonts/antinoou-webfont.eot');
    src: url('/community/fonts/antinoou-webfont.eot?#iefix') format('embedded-opentype'),
         url('/community/fonts/antinoou-webfont.woff') format('woff'),
         url('/community/fonts/antinoou-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'EstreWeb';
    src: url('/community/fonts/estre.eot');
    src: url('/community/fonts/estre.eot?#iefix') format('embedded-opentype'),
         url('/community/fonts/estre.woff') format('woff'),
         url('/community/fonts/estre.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'BukyvedeWeb';
  src: url('/community/fonts/Bukyvede.eot?#iefix') format('embedded-opentype'),  url('/community/fonts/Bukyvede.woff') format('woff'), url('/community/fonts/Bukyvede.ttf')  format('truetype'), url('/community/fonts/Bukyvede.svg#Bukyvede') format('svg');
  font-weight: normal;
  font-style: normal;
}

.msstrans {
	background-color: #FAE6C3;
	/* 
	 */
	padding-left: 0.5em;
	padding-right: 0.5em;
}
/*  .msstrans, body, td, div, span, p {  */
.msstrans {
	font-family: Gentium, Times, Gentium Plus, Arial Unicode MS;
}
div.folioBreak {
	width: 100%;
/* margin-top: 1em; */
/*	border-top: solid 1px; */
/*	border-bottom: solid 1px; */
	float: right;
	text-align: center;
	font-size: large;
	font-weight: bold;
}
div.columnBreak {
/* 	margin-top: 1em; */
	margin-bottom: -10px;
/*	border-top: dotted 1px; */
	border-bottom: dotted 1px;
	font-weight: bold;
}
div.pageNumber {
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: bold;
}
.lac {
	color: red;
}

span.hi-other {
	top: -0.2em;
	font-size:120%;
	font-weight:bold;
	background-color: rgba(250, 244, 195, 0.99);
}

span.cap2 {
	font-size:120%;
	font-weight:bold;
}

span.cap3 {
	font-size:120%;
	font-weight:bold;
}

span.cap4 {
	font-size:120%;
	font-weight:bold;
}

span.cap5 {
	font-size:120%;
	font-weight:bold;
}

span.cap6 {
	font-size:120%;
	font-weight:bold;
}

span.cap7 {
	font-size:120%;
	font-weight:bold;
}

span.cap8 {
	font-size:120%;
	font-weight:bold;
}

span.cap9 {
	font-size:120%;
	font-weight:bold;
}

span.cap10 {
	font-size:120%;
	font-weight:bold;
}

span.app {
	color: blue;
	cursor: pointer;
}

table.readings th {
	text-align:right;
	padding-right:1em;
}

.marginalia, .seg-other, .note, .app-rdgs {
	display:none;
	font-family: Gentium, Times, Gentium Plus, Arial Unicode MS;
	padding: 4px 8px;
	color: #333;
	position: absolute;
	left: 0;
	top: 0;
/*	white-space: nowrap;*/
	z-index: 999;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 4px #222;
	-webkit-box-shadow: 0px 0px 4px #222;
	box-shadow: 0px 0px 4px #222;
	background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
	background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}

.commentary-line-marker {
	color: grey;
}

.marginalia-marker {
	color: blue;
	cursor: pointer;
	vertical-align: baseline;
	position: relative;
	top: -0.5em;
	font-size: small;
}

.marginalia-marker:after {
	content: "ɀ";
}

.seg-other-marker {
	color: blue;
	cursor: pointer;
	font-size: small;
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.seg-unknown {
	margin-left:.2em;
	margin-right:.2em;
	color: brown;
	display:inline-block;
}

.note-marker:after {
	content: "*n";
}
.seg-other-marker:after {
	content: "*";
}
.note-marker {
	color: blue;
	cursor: pointer;
	font-size: small;
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}

.lectTitle {
	display:inline-block;
	background-color: rgba(250, 244, 195, 0.99);
}

span.suppliedEditor:before {
	content: "<";
}

span.suppliedEditor:after {
	content: ">";
}


span.nobreak:after {
	content: attr(data-after);
}


span.supplied:before {
	content: "[";
}

span.supplied:after {
	content: "]";
}
span.supplied {
	color: red;
}
span.num {
	cursor: pointer;
	text-decoration: overline;
}
span.keph {
	color: blue;
}
span.ol {
	text-decoration: overline;
}
span.overline {
	text-decoration: overline;
}

span.suppliedUnreadable:before {
	content: "[";
}

span.suppliedUnreadable:after {
	content: "]";
}
span.suppliedUnreadable {
	color: orange;
}
.verse_marker {
	visibility:hidden;
	display:none;
	color: grey;
	font-weight:bold;
	font-size:200%;
	vertical-align: baseline;
	position: relative;
	margin-left:-0.1em;
	line-height:1;
	top: -0.1em;
}
.verse_marker:after {
	/* content: "✝"; */
	/* content: "☦"; */
	content: "☇";
}
.showVerseMark {
	visibility:visible;
	display:unset;
}
.rend-left {
	margin-left: 1.1em;
}

.seg-margin-pagetop {
	padding-top: 1em;
	width:90%;	
}
/* if multiple pagetops merge them */
.seg-margin-pagetop ~ .seg-margin-pagetop {
	position: relative;
	margin-top: -2.3em;
}

.rend-right {
	margin-right: 7em;
	text-align:right;
}
span.verse_number {
	cursor: pointer;
	color: grey;
	font-size: 0.8em;

	float: right;

	text-align: right;
	margin: 0.2em 0 0 20px;
}

span.rubric {
	color: #DC143C;
	font-weight:bold;
}

span.note {
	color: blue;
	cursor: pointer;
	font-size: small;
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}

.linenumber {
	color: grey;
	font-size: 0.8em;
	display:block;
	width: 1.1em;
	margin:-3px 1em 0 0em;
	padding:6px .2em 0 .2em;
	height:1em;
	clear: both;

	float: left;
	text-align:right;
	border-right:1px solid;

}

.externalLink {
	background-image: url('/community/images/xiao_icon_sprites.png');
	background-position: 0 -740px;
	background-repeat: no-repeat;
	height: 16px; width: 16px;
	cursor:pointer;
}

/* Added for Manuscript Room */
.painted-red {
	color: red;
}
.painted-purple {
	color: purple;
}

.ending {
	color: grey;
    text-align: center;
}
